@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-image: url('../public/bg2.jpg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-image: url('../public/bg2.jpg');
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
